@import "tailwindcss";

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.weather-glow {
  text-shadow: 0 0 20px rgba(59, 191, 250, 0.3);
}

.atmospheric-bg {
  background: radial-gradient(circle at top right, #141f38, #060e20);
}
