$success: pink;
/* lägga in sass-overrides ovanför importen */
@import "bootstrap/scss/bootstrap";

.card-img-top {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

body {
    background: #5e2b80;
    background: linear-gradient(90deg, rgba(94, 43, 128, 1) 17%, rgba(45, 22, 64, 1) 100%);
    transition: background 30s ease-in;
}

body.night {
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 26%, rgb(16, 16, 91) 100%);
}

body.day {
    background: #ffffff;
    background: radial-gradient(circle, rgb(201, 220, 236) 0%, rgba(104, 131, 179, 1) 100%);
}


#forecast {
    background: rgba(255, 255, 255, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 1px solid rgba(255, 255, 255, 0.48);
}

#query {
    background: rgba(255, 255, 255, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 1px solid rgba(255, 255, 255, 0.48);
}