$success: pink;
/* lägga in sass-overrides ovanför importen */
@import "bootstrap/scss/bootstrap";


.card-img-top {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

body {
    background-color: aquamarine;
}

#forecast {
    /* background-color: #5e2292;
    border-radius: 1rem;

    border: transparent 1px solid;
    background: radial-gradient(
        circle at 50% 100%, 
        #652c97, 
        #42116e),
        padding-box, 
        linear-gradient(#3f0b6e, #8242ba) border-box;  */

    background: rgba(255, 255, 255, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 1px solid rgba(255, 255, 255, 0.48);
}
